# 以下を管理対象から除外

# SQLクエリー実行
SQLクエリー実行/LOG
SQLクエリー実行/SQL

# 必要なモジュールの導入
必要なモジュールの導入/LOG

# ファイルアクセスブロック解除
ファイルアクセスブロック解除/FileAccessBlock

# ILSpyCmdの入手
ILSpyCmdの入手/LOG/*
ILSpyCmdの入手/DotnetSDK/dotnet-sdk-8.0.411-win-x64.exe

# dotNetSdkUninstallToolの入手
dotNetSdkUninstallToolの入手/dotNetSdkUninstallTool/dotnet-core-uninstall.msi

# DecompileDLL
DecompileDLL/Dlls/Decompiled/*
DecompileDLL/Dlls/New/*
DecompileDLL/Dlls/Old/*
# DecompileDLL/Dlls/Reports
DecompileDLL/LOG/*

# DotnetSdk削除
DotnetSdk削除/LOG/*

# ditNetSdkUninstallToolの入手
dotNetSdkUninstallToolの入手/LOG/*

# Node.js通信ブロック対応
Node.js通信ブロック対応/LOG/*