# 以下を管理対象から除外

# SQLクエリー実行
SQLクエリー実行\LOG
SQLクエリー実行\SQL

# 必要なモジュールの導入
必要なモジュールの導入\LOG

# ファイルアクセスブロック解除
ファイルアクセスブロック解除\FileAccessBlock

# ILSpyCmdの入手
ILSpyCmdの入手\LOG
ILSpyCmdの入手\DotnetSDK

# DecompileDLL
DecompileDLL\Dlls\Decompiled\Reports
DecompileDLL\Dlls\Decompiled
DecompileDLL\Dlls\New
DecompileDLL\Dlls\Old
DecompileDLL\Dlls\Reports
DecompileDLL\LOG
